.circle {
  width: 30px;
  height: 30px;
  border: 7px solid rgb(17, 190, 83);
  border-radius: 50%;
  background-color: white;
}

.cross {
  width: 30px;
  height: 30px;
  border: 7px solid rgb(240, 99, 5);
  /* border-radius: 50%; */
  background-color: white;
}
